
#map {
  width: 90%;
  height: 70vh;
  background: khaki;
  margin: 1em auto;
}
#map * {
  margin: 0;
  padding: 0;	
  color: black;
 }
#map p {
  font-size: 1em;
}

.timezone {
	color: green;
	font-weight: bold;
}
